@model Core.Models.EmployeeOrganisation

@{
    ViewBag.Title = "Удалить";
}

<h3>Вы уверены, что хотите удалить эту запись?</h3>
<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EmployeeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrganisationID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Organisation.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeePositionOfficialID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeePositionOfficial.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrganisationDateBegin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrganisationDateBegin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrganisationDateEnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrganisationDateEnd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsMainPlaceWork)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsMainPlaceWork)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <div class="separeted-hrefs">
                <input type="submit" value="Удалить" class="btn btn-default" />
                @Html.ActionLink("К карточке сотрудника", "Details", "Employee", null, null, "employeeorganisation", new { id = Model.EmployeeID }, null)
            </div>   
        </div>
    }
</div>
