
@using MainApp.HtmlControls
@using Core.Models.RBAC
@model Core.Models.ProjectScheduleEntry

@{
    ViewBag.Title = "Карточка вехи";
}


<div>
    <h4>Карточка вехи</h4>
    <hr />

    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#detailscommon" aria-controls="detailscommon" role="tab" data-toggle="tab">Карточка</a></li>
        <li role="presentation"><a href="#versionhistory" aria-controls="versionhistory" role="tab" data-toggle="tab">Версии</a></li>
    </ul>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="detailscommon">
            <br />
            <dl class="dl-horizontal">
                <dt>@Html.DisplayNameFor(model => model.Title)</dt>
                <dd>@Html.DisplayFor(model => model.Title)</dd>

                <dt>@Html.DisplayNameFor(model => model.ProjectScheduleEntryTypeID)</dt>
                <dd>@Html.DisplayFor(model => model.ProjectScheduleEntryType.FullName)</dd>

                <dt>@Html.DisplayNameFor(model => model.ProjectID)</dt>
                <dd>@Html.DisplayFor(model => model.Project.ShortName)</dd>

                <dt>@Html.DisplayNameFor(model => model.ContractNum)</dt>
                <dd>@Html.DisplayFor(model => model.ContractNum)</dd>

                <dt>@Html.DisplayNameFor(model => model.ContractStageNum)</dt>
                <dd>@Html.DisplayFor(model => model.ContractStageNum)</dd>

                <dt>@Html.DisplayNameFor(model => model.IncludeInProjectStatusRecord)</dt>
                <dd>@Html.DisplayFor(model => model.IncludeInProjectStatusRecord)</dd>

                <dt>@Html.DisplayNameFor(model => model.DueDate)</dt>
                <dd>@Html.DisplayFor(model => model.DueDate)</dd>

                <dt>@Html.DisplayNameFor(model => model.ExpectedDueDate)</dt>
                <dd>@Html.DisplayFor(model => model.ExpectedDueDate)</dd>

                <dt>@Html.DisplayNameFor(model => model.DateCompleted)</dt>
                <dd>@Html.DisplayFor(model => model.DateCompleted)</dd>

                <dt>@Html.DisplayNameFor(model => model.Amount)</dt>
                <dd>@Html.DisplayFor(model => model.Amount)</dd>

                <dt>@Html.DisplayNameFor(model => model.WorkResult)</dt>
                <dd>@Html.DisplayFor(model => model.WorkResult)</dd>

                <dt>@Html.DisplayNameFor(model => model.Comments)</dt>
                <dd>@Html.DisplayFor(model => model.Comments)</dd>
            </dl>
        </div>

        <div role="tabpanel" class="tab-pane" id="versionhistory">
            @Html.Partial("VersionHistory", Model.Versions)
        </div>
    </div>
    <p>
        <div class="separeted-hrefs">
            @Html.ActionLinkWithPermission("Редактировать", "Edit", new { id = Model.ID }, Operation.ProjectScheduleEntryCreateUpdate | Operation.ProjectCreateUpdate | Operation.ProjectMyProjectView | Operation.ProjectMyDepartmentProjectView)
            @Html.ActionLink("К карточке проекта", "Details", "Project", null, null, "scheduleentries", new { id = Model.ProjectID }, null)
        </div>
    </p>
</div>