
@using MainApp.HtmlControls
@using Core.Models.RBAC
@model IEnumerable<Core.Models.EmployeePositionOfficial>

@{
    ViewBag.Title = "Список должностей ШР";
}

<h4>Список должностей ШР</h4>

<p>
    @Html.ActionLinkWithPermission("Создать", "Create", Operation.PositionCreateUpdate)
</p>
<table class="table table-bordered table-hover">
    <tr class="active">
        <th>
            @Html.DisplayNameFor(model => model.ShortName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrganisationID)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ShortName)
            </td>
            <td>
                @Html.RPCSDisplayTitleViewActionWithPermissionFor(modelItem => item.Title, "Просмотреть", "Details", new { id = item.ID }, Operation.PositionView)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Organisation.FullName)
            </td>
            <td>
                <center>
                    @Html.IconActionWithPermission("Редактировать", "Edit", new { id = item.ID }, Operation.PositionCreateUpdate, "glyphicon-edit")
                    &nbsp;&nbsp;
                    @Html.IconActionWithPermission("Удалить", "Delete", new { id = item.ID }, Operation.PositionDelete, "glyphicon-trash")
                </center>
            </td>
        </tr>
    }

</table>

