@using MainApp.HtmlControls
@using Core.Models.RBAC
@model IEnumerable<Core.Models.CostItem>

@{
    ViewBag.Title = "Статьи затрат";
}

<h4>Статьи затрат</h4>

<p>
    @Html.ActionLink("Создать", "Create")
</p>
<table class="table table-bordered table-hover">
    <tr class="active">
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>      
            <td>
                @Html.RPCSDisplayTitleViewActionWithPermissionFor(modelItem => item.FullName, "Просмотреть", "Details", new { id = item.ID }, Operation.FinReportView)
            </td>        
            <td>
                <center>
                    @Html.IconActionWithPermission("Редактировать", "Edit", new { id = item.ID }, Operation.FinDataCreateUpdate, "glyphicon-edit")
                    &nbsp;&nbsp;
                    @Html.IconActionWithPermission("Удалить", "Delete", new { id = item.ID }, Operation.FinDataDelete, "glyphicon-trash")
                </center>
            </td>
        </tr>
    }

</table>
