

@using MainApp.ADSync
@using MainApp.HtmlControls
@using MainApp.RBAC
@using Core.BL.Interfaces
@using Core.Helpers
@using Core.Models.RBAC
@inject IPermissionValidatorService PermissionValidatorService
@inject IApplicationUserService ApplicationUserService
@inject IOOService OOService


@*@using RPCSWebApp.ADSync*@

<!DOCTYPE html>
<html>
<head>
    @*<meta charset="utf-8" />*@
    <meta http-equiv="content-type" content="application/vnd.ms-excel; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - </title>

    <environment include="Development">

        @*@Минификация тест*@
        <link href="~/css/bundle/jqueryui.min.css" rel="stylesheet" />
        <link href="~/css/bundle/css.min.css" rel="stylesheet" />
        <link href="~/css/bundle/select2.min.css" rel="stylesheet" />

        <script src="~/js/bundle/modernizr.min.js"></script>
        <script src="~/js/bundle/jquery.min.js"></script>
        <script src="~/js/bundle/moment.min.js"></script>
        <script src="~/js/bundle/bootstrap.min.js"></script>
        <script src="~/js/bundle/autocomplete.min.js"></script>
        <script src="~/js/bundle/jqgrid.min.js"></script>
        <script src="~/js/bundle/select2.min.js"></script>

    </environment>
    
    <environment include="Staging,Production">
        @*@Минификация тест*@
        <link href="~/css/bundle/jqueryui.min.css" rel="stylesheet" />
        <link href="~/css/bundle/css.min.css" rel="stylesheet" />
        <link href="~/css/bundle/select2.min.css" rel="stylesheet" />

        <script src="~/js/bundle/modernizr.min.js"></script>
        <script src="~/js/bundle/jquery.min.js"></script>
        <script src="~/js/bundle/moment.min.js"></script>
        <script src="~/js/bundle/bootstrap.min.js"></script>
        <script src="~/js/bundle/autocomplete.min.js"></script>
        <script src="~/js/bundle/jqgrid.min.js"></script>
        <script src="~/js/bundle/select2.min.js"></script>

    </environment>

    @RenderSection("scripts", required: false)

        <script>
            $.jgrid.defaults.width = 780;
            $.jgrid.defaults.responsive = true;
            $.jgrid.defaults.styleUI = 'Bootstrap';
        </script>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                @Html.RPCSMenuIconAction("Главная", "Index", "Home", new { area = "" }, "glyphicon glyphicon-home")
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (PermissionValidatorService.HasAccess(@User, Operation.EmployeeView))
                    {
                        <li class="dropdown">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle">Сотрудники<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLinkWithPermission("Список сотрудников", "Index", "Employee", Operation.EmployeeView)</li>
                                <li>@Html.ActionLinkWithPermission("Список подразделений и сотрудников ГК", "OrgChartList", "Employee", Operation.OrgChartView) </li>
                                <li>@Html.ActionLinkWithPermission("Список подразделений", "Index", "Department", Operation.DepartmentListView)</li>
                                <li>@Html.ActionLinkWithPermission("EmployeeID для сотрудников", "EmployeeIDService", "Service", Operation.EmployeeIDServiceAccess)</li>
                                <li>@Html.ActionLinkWithPermission("Отчет о найме сотрудников", "EmployeeEnrollmentReport", "Reports", Operation.EmployeePayrollReportView)</li>
                                <li>@Html.ActionLinkWithPermission("Отчет по КОТ сотрудников", "EmployeePayrollReport", "Reports", Operation.EmployeePayrollReportView)</li>
                                <li>@Html.ActionLinkWithPermission("Сотрудники без КОТ", "EmployeePayrollSummary", "Employee", new { mode = "nopayrolldata" }, Operation.OOAccessFullReadPayrollAccess | Operation.OOAccessSubEmplReadPayrollAccess)</li>
                                <li>@Html.ActionLinkWithPermission("Изменения КОТ", "EmployeePayrollSummary", "Employee", new { mode = "latestpayrolldata" }, Operation.OOAccessFullReadPayrollAccess | Operation.OOAccessSubEmplReadPayrollAccess)</li>
                                @if (PermissionValidatorService.HasAccess(@User, Operation.PositionView | Operation.GradView | Operation.OrganizationView | Operation.EmployeeLocationView))
                                {
                                    <li class="dropdown dropdown-submenu">
                                        <a class="dropdown-toggle" data-toggle="dropdown" href=" #">Справочники</a>
                                        <ul class="dropdown-menu">
                                            <li>@Html.ActionLinkWithPermission("Список должностей", "Index", "EmployeePosition", Operation.PositionView)</li>
                                            <li>@Html.ActionLinkWithPermission("Список должностей ШР", "Index", "EmployeePositionOfficial", Operation.PositionView)</li>
                                            <li>@Html.ActionLinkWithPermission("Список грейдов", "Index", "EmployeeGrad", Operation.GradView)</li>
                                            <li>@Html.ActionLinkWithPermission("Список организаций", "Index", "Organisation", Operation.OrganizationView)</li>
                                            <li>@Html.ActionLinkWithPermission("Список территориальных расположений", "Index", "EmployeeLocation", Operation.EmployeeLocationView)</li>
                                            <li>@Html.ActionLinkWithPermission("Список УПР", "Index", "QualifyingRole", Operation.QualifyingRoleView)</li>
                                            <li>@Html.ActionLinkWithPermission("Параметры грейдов", "Index", "EmployeeGradParam", Operation.FinDataView)</li>
                                        </ul>
                                    </li>
                                }
                            </ul>
                        </li>
                    }

                    @if (PermissionValidatorService.HasAccess(@User, Operation.TSHoursRecordCreateUpdateMyHours | Operation.TSHoursRecordView | Operation.TSAutoHoursRecordCreateUpdate | Operation.TSHoursRecordPMApproveHours | Operation.VacationRecordView | Operation.TSCompletenessReportViewForManagedEmployees | Operation.TSCompletenessReportView | Operation.TSHoursUtilizationReportView))
                    {
                        <li class="dropdown">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle">Таймшит<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLinkWithPermission("Мои трудозатраты", "MyHours", "TSHoursRecord", Operation.TSHoursRecordCreateUpdateMyHours)</li>
                                <li>@Html.ActionLinkWithPermission("Мои отклоненные трудозатраты", "MyHours", "TSHoursRecord", new { isDeclined = "isDeclined" }, Operation.TSHoursRecordCreateUpdateMyHours)</li>
                                <li>@Html.ActionLinkWithPermission("Согласование трудозатрат", "ApproveHours", "TSHoursRecord", Operation.TSHoursRecordPMApproveHours)</li>
                                @if (PermissionValidatorService.HasAccess(@User, Operation.VacationRecordView | Operation.TSAutoHoursRecordCreateUpdate | Operation.TSHoursRecordView | Operation.TSHoursRecordCreateUpdate)
                                   && PermissionValidatorService.HasAccess(@User, Operation.TSHoursRecordCreateUpdateMyHours | Operation.TSHoursRecordPMApproveHours))
                                {
                                    <li class="divider"></li>
                                }
                                <li>@Html.ActionLinkWithPermission("Записи об отпусках сотрудников", "Index", "VacationRecord", Operation.VacationRecordView)</li>
                                <li>@Html.ActionLinkWithPermission("Автозагрузка", "AutoHours", "TSAutoHoursRecord", Operation.TSAutoHoursRecordCreateUpdate)</li>
                                <li>@Html.ActionLinkWithPermission("Администрирование ТШ", "Index", "TSHoursRecord", Operation.TSHoursRecordView)</li>
                                <li>@Html.ActionLinkWithPermission("Обработка данных ТШ", "TimesheetService", "Service", Operation.TSHoursRecordView)</li>
                                <li>@Html.ActionLinkWithPermission("Импорт трудозатрат из Excel в ТШ", "ImportTSHoursFromExcel", "Service", Operation.TSHoursRecordCreateUpdate)</li>
                                @if (PermissionValidatorService.HasAccess(@User, Operation.TSCompletenessReportViewForManagedEmployees | Operation.TSCompletenessReportView | Operation.TSApproveHoursReportViewForManagedEmployees | Operation.TSApproveHoursReportView)
                                   && PermissionValidatorService.HasAccess(@User, Operation.VacationRecordView | Operation.TSAutoHoursRecordCreateUpdate | Operation.TSHoursRecordView | Operation.TSHoursRecordCreateUpdate))
                                {
                                    <li class="divider"></li>
                                }
                                <li>@Html.ActionLinkWithPermission("Отчет о полноте заполнения ТШ", "TSCompletenessReport", "TSHoursRecord", Operation.TSCompletenessReportViewForManagedEmployees | Operation.TSCompletenessReportView)</li>
                                <li>@Html.ActionLinkWithPermission("Отчет о согласовании трудозатрат", "TSApproveHoursReport", "TSHoursRecord", Operation.TSApproveHoursReportViewForManagedEmployees | Operation.TSApproveHoursReportView)</li>
                                <li>@Html.ActionLinkWithPermission("Отчет по утилизации", "TSHoursUtilizationReport", "Reports", Operation.TSHoursUtilizationReportView)</li>
                            </ul>
                        </li>
                    }

                    @if (PermissionValidatorService.HasAccess(@User, Operation.ProjectListView | Operation.ProjectView | Operation.ProjectsHoursReportView | Operation.ProjectsHoursReportViewForManagedEmployees | Operation.ProjectsCostsReportView))
                    {
                        <li class="dropdown">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle">Проекты<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLinkWithPermission("Проекты", "Index", "Project", Operation.ProjectListView)</li>
                                <li>@Html.ActionLinkWithPermission("Участники РГ моих проектов", "MyPeople", "ProjectMember", Operation.ProjectMemberMyPeopleView | Operation.ProjectMemberView)</li>
                                <li>@Html.ActionLinkWithPermission("Участники РГ всех проектов", "Index", "ProjectMember", Operation.ProjectMemberView)</li>
                                @if (PermissionValidatorService.HasAccess(@User, Operation.ProjectMemberView))
                                {
                                    <li class="divider"></li>
                                }
                                <li>@Html.ActionLinkWithPermission("Отчет по трудозатратам проектов", "ProjectsHoursReport", "Reports", Operation.ProjectsHoursReportView | Operation.ProjectsHoursReportViewForManagedEmployees)</li>
                                <li>@Html.ActionLinkWithPermission("Отчет по затратам проектов", "ProjectsCostsReport", "Reports", Operation.ProjectsCostsReportView)</li>
                                <li>@Html.ActionLinkWithPermission("Статус по всем проектам", "AllProjectLastStatus", "ProjectStatusRecord", Operation.ProjectListView)</li>
                                <li>@Html.ActionLinkWithPermission("Статус завершения вех", "AllProjectScheduleDueDateStatus", "ProjectScheduleEntry", Operation.ProjectListView)</li>
                                <li>@Html.ActionLinkWithPermission("Загрузка участников проекта", "PercentageAllocationByProject", "ProjectMember", Operation.ProjectMemberWorkloadView)</li>

                                @if (PermissionValidatorService.HasAccess(@User, Operation.ProjectTypeView | Operation.ProjectRoleView | Operation.ProjectScheduleEntryTypeView))
                                {
                                    <li class="divider"></li>
                                    <li class="dropdown dropdown-submenu">
                                        <a class="dropdown-toggle" data-toggle="dropdown" href=" #">Справочники</a>
                                        <ul class="dropdown-menu">
                                            <li>@Html.ActionLinkWithPermission("Типы проектов", "Index", "ProjectType", Operation.ProjectTypeView)</li>
                                            <li>@Html.ActionLinkWithPermission("Проектные роли", "Index", "ProjectRole", Operation.ProjectRoleView)</li>
                                            <li>@Html.ActionLinkWithPermission("Типы вех", "Index", "ProjectScheduleEntryType", Operation.ProjectScheduleEntryTypeView)</li>
                                        </ul>
                                    </li>
                                }
                                @if (PermissionValidatorService.HasAccess(@User, Operation.ReportingPeriodView))
                                {
                                    <li class="divider"></li>
                                }
                                <li>@Html.ActionLinkWithPermission("Параметры отчетных периодов", "Index", "ReportingPeriod", Operation.ReportingPeriodView)</li>
                            </ul>
                        </li>
                    }

                    @if (PermissionValidatorService.HasAccess(@User, Operation.FinDataView | Operation.QualifyingRoleRateView | Operation.FinDataViewForMyDepartments))
                    {
                        <li class="dropdown">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle">Финансы<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLinkWithPermission("Лимиты бюджета", "Index", "BudgetLimit", Operation.FinDataView)</li>
                                <li>@Html.ActionLinkWithPermission("Годовые лимиты бюджета", "BudgetLimitYearSummary", "BudgetLimit", Operation.FinDataView)</li>
                                <li>@Html.ActionLinkWithPermission("Статьи затрат", "Index", "CostItem", Operation.FinDataView)</li>
                                <li>@Html.ActionLinkWithPermission("Подстатьи затрат", "Index", "CostSubItem", Operation.FinDataView)</li>
                                <li>@Html.ActionLinkWithPermission("Записи о расходах", "Index", "ExpensesRecord", Operation.FinDataView | Operation.FinDataViewForMyDepartments)</li>
                                <li>@Html.ActionLinkWithPermission("Записи о расходах", "Index", "ExpensesRecord", Operation.FinDataView)</li>
                                <li>@Html.ActionLinkWithPermission("Отчет по данным DK", "DKReport", "Reports", Operation.FinReportView)</li>
                                <li>@Html.ActionLinkWithPermission("Выгрузка данных о расходах из Б24", "ApplicationForPaymentReport", "Reports", Operation.FinReportView)</li>
                                <li>@Html.ActionLinkWithPermission("Ставки УПР", "QualifyingRoleRateReport", "Reports", Operation.QualifyingRoleRateView)</li>
                                <li>@Html.ActionLinkWithPermission("Импорт лимитов из Excel", "ImportBudgetLimitRecordsFromExcel", "Service", Operation.FinDataCreateUpdate)</li>
                                <li>@Html.ActionLinkWithPermission("Отчет по лимитам", "BudgetLimitSummary", "BudgetLimit", Operation.FinDataViewForMyDepartments)</li>
                            </ul>
                        </li>
                    }

                    @if (PermissionValidatorService.HasAccess(@User, Operation.AdminFullAccess | Operation.RPCSUserView | Operation.ADSyncAccess | Operation.ServiceTablesView | Operation.AppPropertiesAccess))
                    {
                        <li class="dropdown">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle">Администрирование<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLinkWithPermission("Пользователи", "Index", "RPCSUser", Operation.RPCSUserView)</li>
                                @if (PermissionValidatorService.HasAccess(@User, Operation.RPCSUserView))
                                {
                                    <li class="divider"></li>
                                }
                                @if (PermissionValidatorService.HasAccess(@User, Operation.AdminFullAccess))
                                {
                                    <li>@Html.ActionLinkWithPermission("Корзина", "RecycleBin", "Service", Operation.AdminFullAccess)</li>
                                    <li>@Html.ActionLinkWithPermission("Экспорт данных в Excel", "ExportDataToExcel", "Service", Operation.AdminFullAccess)</li>
                                    <li class="divider"></li>
                                }
                                <li>@Html.ActionLinkWithPermission("Импорт данных из Active Directory", "ImportDataFromADService", "Service", Operation.RPCSUserView)</li>
                                <li>@Html.ActionLinkWithPermission("Синхронизация с Active Directory", "SyncADService", "Service", Operation.ADSyncAccess)</li>
                                <li>@Html.ActionLinkWithPermission("Синхронизация с Bitrix", "SyncBitrixService", "Service", Operation.BitrixSyncAccess)</li>
                                <li>@Html.ActionLinkWithPermission("Обработка данных БД", "DBDataProcessingService", "Service", Operation.AdminFullAccess)</li>
                                @if (PermissionValidatorService.HasAccess(@User, Operation.BitrixSyncAccess))
                                {
                                    <li class="divider"></li>
                                }
                                <li>@Html.ActionLinkWithPermission("Производственный календарь", "Index", "ProductionCalendarRecord", Operation.ServiceTablesView)</li>
                                @if (PermissionValidatorService.HasAccess(@User, Operation.ServiceTablesView))
                                {
                                    <li class="divider"></li>
                                }
                                <li>@Html.ActionLinkWithPermission("Сотрудники в подразделениях", "Index", "EmployeeDepartmentAssignment", Operation.ServiceTablesView)</li>
                                <li>@Html.ActionLinkWithPermission("Назначение сотрудников на должности", "Index", "EmployeePositionAssignment", Operation.ServiceTablesView)</li>
                                <li>@Html.ActionLinkWithPermission("Назначение грейдов сотрудникам", "Index", "EmployeeGradAssignment", Operation.ServiceTablesView)</li>
                                <li>@Html.ActionLinkWithPermission("Записи отчетов по проектам", "Index", "ProjectReportRecord", Operation.ServiceTablesView)</li>
                                <li>@Html.ActionLinkWithPermission("Записи статусов по проектам", "Index", "ProjectStatusRecord", Operation.ServiceTablesView)</li>
                                <li>@Html.ActionLinkWithPermission("Свойства приложения", "Index", "AppProperty", Operation.AppPropertiesAccess)</li>
                            </ul>
                        </li>
                    }
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle"><span class="glyphicon glyphicon-user"></span> @ADHelper.GetUserTitleByLogin(@User.Identity.Name)<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            @if (ApplicationUserService.GetCurrentUser() != null && ApplicationUserService.GetEmployeeID() != 0)
                            {
                                <li>@Html.ActionLink("Моя карточка", "Details", "Employee", new { id = ApplicationUserService.GetEmployeeID() }, null)</li>
                            }
                            <li>@Html.ActionLinkWithPermission("Аутентификация на сервере хранения файлов", "OOAuthService", "Service", Operation.OOAccessAllow)</li>
                            <li>@Html.ActionLink("Выйти", "LogOut", "Home")</li>
                            <li>@Html.ActionLink("Войти под другим именем", "LoginAsAnotherUser", "Home")</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("О Системе", "About", "Home")</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">

        @if (@RPCSHelper.IsShowTestCopyWarningMessage() == true)
        {
            <br />
            <div class="alert alert-info" role="alert">
                <span class="glyphicon glyphicon-alert"></span> Вы работаете на тестовом стенде.
            </div>
        }

        @if (PermissionValidatorService.HasAccess(@User, Operation.OOAccessAllow) == true
           && ApplicationUserService.CheckUserHasOwnOOLogin() == true
           && OOService.CheckPayrollAccess() == false)
        {
            <br />
            <div class="alert alert-warning" role="alert">
                <span class="glyphicon glyphicon-alert"></span> Вы не авторизованы на сервере хранения файлов, данные КОТ недоступны. Для аутентификации перейдите по @Html.ActionLinkWithPermission("ссылке", "OOAuthService", "Service", Operation.OOAccessAllow) .
            </div>
        }

        @RenderBody()


        <hr />
        <footer>
            <!--
            <p>&copy; @DateTime.Now.Year</p>
            
             -->
        </footer>
    </div>


    <script type="text/javascript">

        $(document).ready(function () {
            var linksBlocks = $(".separeted-hrefs");
            $.each(linksBlocks, function () {
                var children = $(this).children();
                if (children.length > 1) {
                    var counter = 1;
                    $.each(children, function () {
                        if (counter == children.length)
                            return;
                        $(this).after(" | ")
                        counter++;
                    });
                }
            });
        });


        $(function () {
            if (true || !Modernizr.inputtypes.date) {
                $(function () {
                    var datePickers = $("input[type='date']").datepicker();
                    $.each(datePickers, function () {
                        var datePicker = $(this);
                        if (datePicker != null
                            && typeof (datePicker) != 'udefined'
                            && datePicker.get(0) != null
                            && typeof (datePicker.get(0)) != 'udefined') {
                            var dateValue = datePicker.get(0).getAttribute("value");
                            datePicker.get(0).setAttribute("type", "text");
                            if (dateValue != null) {
                                datePicker.get(0).setAttribute("value", dateValue);
                            }
                        }
                    });

                    var dateTimePickers = $("input[type='datetime']").datetimepicker();
                    $.each(dateTimePickers, function () {
                        var dateTimePicker = $(this);
                        if (dateTimePicker != null
                            && typeof (dateTimePicker) != 'udefined'
                            && dateTimePicker.get(0) != null
                            && typeof (dateTimePicker.get(0)) != 'udefined') {
                            var dateTimeValue = dateTimePicker.get(0).getAttribute("value");
                            dateTimePicker.get(0).setAttribute("type", "text");
                            if (dateTimeValue != null) {
                                dateTimePicker.get(0).setAttribute("value", dateTimeValue);
                            }
                        }
                    });
                });
                $.datepicker.regional['ru'] = {
                    closeText: 'Закрыть',
                    prevText: 'Пред',
                    nextText: 'След',
                    currentText: 'Сегодня',
                    monthNames: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь',
                        'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
                    monthNamesShort: ['Янв', 'Фев', 'Мар', 'Апр', 'Май', 'Июн',
                        'Июл', 'Авг', 'Сен', 'Окт', 'Ноя', 'Дек'],
                    dayNames: ['воскресенье', 'понедельник', 'вторник', 'среда', 'четверг', 'пятница', 'суббота'],
                    dayNamesShort: ['вск', 'пнд', 'втр', 'срд', 'чтв', 'птн', 'сбт'],
                    dayNamesMin: ['Вс', 'Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб'],
                    weekHeader: 'Не',
                    dateFormat: 'dd.mm.yy',
                    firstDay: 1,
                    isRTL: false,
                    showMonthAfterYear: false,
                    yearSuffix: '',
                };
                $.datepicker.setDefaults($.datepicker.regional['ru']);
                $.datepicker.format = 'dd.mm.yy';

                $.timepicker.regional['ru'] = {
                    timeOnlyTitle: 'Выберите время',
                    timeText: 'Время',
                    hourText: 'Часы',
                    minuteText: 'Минуты',
                    secondText: 'Секунды',
                    millisecText: 'Миллисекунды',
                    timezoneText: 'Часовой пояс',
                    currentText: 'Сейчас',
                    closeText: 'Закрыть',
                    timeFormat: 'HH:mm',
                    amNames: ['AM', 'A'],
                    pmNames: ['PM', 'P'],
                    isRTL: false,
                    controlType: 'select',
                    timeFormat: 'HH:mm:ss',
                    oneLine: true
                };
                $.timepicker.setDefaults($.timepicker.regional['ru']);

            }
        });

        $(function () {
            if (typeof ($.validator) != 'undefined'
                && $.validator != null) {
                $.validator.methods.date = function (value, element) {
                    return this.optional(element) || moment(value, "DD.mm.YYYY", true).isValid() || moment(value, "DD.mm.YYYY HH:mm:ss", true).isValid();
                }

                $.validator.methods.number = function (value, element) {
                    return this.optional(element) || /^-?(?:\d+|\d{1,3}(?:[\s\.,]\d{3})+)(?:[\.,]\d+)?$/.test(value);
                };
            }
        });

        // Javascript to enable link to tab
        var url = document.location.toString();
        if (url.match('#')) {
            $('.nav-tabs a[href="#' + url.split('#')[1] + '"]').tab('show');
        }

        // Change hash for page-reload
        $('.nav-tabs a').on('shown.bs.tab', function (e) {
            var yScroll = document.body.scrollTop;
            window.location.hash = e.target.hash;
            window.scrollTo(top);
        })

        //JQGrid helper functions
        function BuildJQGridSelect(response) {
            var data = typeof response === "string" ? $.parseJSON(response) : response;
            var s = "<select>";
            s += '<option value="0"></option>';
            for (var x = 0; x < data.length; x++) {
                s += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
            }
            return s + '</select>';
        }

        function AddJQGridDatePicker(element) {
            $(element).datepicker({
                autoclose: true,
                format: 'dd.mm.yy',
                orientation: 'auto bottom'
            });
        }


        //Navbar submenu
        (function ($) {
            $(document).ready(function () {
                $('ul.dropdown-menu [data-toggle=dropdown]').on('click', function (event) {
                    event.preventDefault();
                    event.stopPropagation();
                    $(this).parent().siblings().removeClass('open');
                    $(this).parent().toggleClass('open');
                });
            });
        })(jQuery);

    </script>


</body>
</html>
