@model IEnumerable<Core.Models.EmployeeQualifyingRole>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>УПР сотрудников</h4>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-bordered table-hover">
    <tr class="active">
        <th>
            ФИО
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QualifyingRole)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QualifyingRoleDateBegin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QualifyingRoleDateEnd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comments)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QualifyingRole.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QualifyingRoleDateBegin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QualifyingRoleDateEnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comments)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
