
@using MainApp.HtmlControls
@using Core.Models.RBAC
@model Core.Models.EmployeeGrad

@{
    ViewBag.Title = "Карточка грейда";
}

<div>
    <h4>Карточка грейда</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ShortName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShortName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>

    </dl>
</div>
<p>
    <div class="separeted-hrefs">
        @Html.ActionLinkWithPermission("Редактированить", "Edit", new { id = Model.ID }, Operation.GradCreateUpdate)
        @Html.ActionLinkWithPermission("Назад к списку", "Index", Operation.GradView)
    </div>
</p>
