@model Core.Models.ProductionCalendarRecord
@{
    ViewBag.Title = "Удалить";
}

<h3>Вы действительно хотите удалить запись?</h3>
<div>
    <h4>Запись в производственном календаре - удаление</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Month)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Month)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Day)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Day)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkingHours)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkingHours)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CalendarDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CalendarDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsCelebratory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsCelebratory)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Удалить" class="btn btn-default" /> |
        @Html.ActionLink("К списку", "Index")
    </div>
    }
</div>
