
@{
    ViewBag.Title = "Отчет по трудозатратам по проекту";
}

<h4>@ViewBag.Title</h4>

@using (Html.BeginForm("StartGenerateProjectsHoursForPMReport", "Reports", FormMethod.Post, new { id = "generateProjectsHoursForPMReportForm", enctype = "multipart/form-data" }))
{

    <div class="form-horizontal">
        <div class="form-group report-param-box">
            <label class="control-label col-md-4" style="white-space:nowrap">Проект: </label>
            <div class="col-md-8">
                @Html.DropDownList("projectID", new SelectList(ViewBag.PMProjectsFromDB, "ID", "ShortName"), null, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group report-param-box">
            <label class="control-label col-md-4" style="white-space:nowrap">период с:</label>
            <div class="col-md-8">
                @Html.TextBox("reportPeriodDateStart", "", new { @class = "form-control", type = "date" })
            </div>
        </div>

        <div class="form-group report-param-box">
            <label class="control-label col-md-4" style="white-space:nowrap">период по:</label>
            <div class="col-md-8">
                @Html.TextBox("reportPeriodDateEnd", "", new { @class = "form-control", type = "date" })
            </div>
        </div>
    </div>

    <div>
        <br />
    </div>

    <div>
        <a href="#" id="startProcess" class="btn btn-default">Сформировать отчет</a>
    </div>
    <br />
    <div id="statusBorder">
        <div id="statusFill">
        </div>

    </div>
    <div id="statusMessage">
    </div>

    <script type="text/javascript">

        var uniqueId = '';
        function guid() {
            function s4() {
                return Math.floor((1 + Math.random()) * 0x10000)
                    .toString(16)
                    .substring(1);
            }
            return s4() + s4() + '-' + s4() + '-' + s4() + '-' + s4() + '-' + s4() + s4() + s4();
        }

        $(document).ready(function (event) {
            $('#startProcess').click(function () {

                if ($('#startProcess').attr('disabled') === 'disabled') {
                    return false;
                }

                var formData = new FormData($('#generateProjectsHoursForPMReportForm')[0]);
                uniqueId = guid();
                formData.append("id", uniqueId);

                jQuery.ajax({
                    url: '/Reports/StartGenerateProjectsHoursForPMReport',
                    data: formData,
                    cache: false,
                    contentType: false,
                    processData: false,
                    method: 'POST',
                    type: 'POST', // For jQuery < 1.9
                    success: function () {
                        $('#statusBorder').show();
                        $('#startProcess').attr('disabled', true);
                        getStatus();
                    }
                });
            });
        });

        function getStatus() {
            var url = '/LongRunningTask/GetGenerateProjectsHoursForPMReportCurrentProgress/' + uniqueId;
            $.get(url, function (data) {
                var response = JSON.parse(data);
                if (response.status != "-1") {
                    if (response.statusMessage != null && response.statusMessage != '') $('#statusMessage').html(response.statusMessage);
                    $('#statusFill').css({ 'width': (parseInt(response.status) * 3).toString() + "px" });
                    window.setTimeout("getStatus()", 100);
                }
                else {
                    $('#statusMessage').html("Отчет сформирован.");
                    $('#statusBorder').hide();
                    $('#startProcess').attr('disabled', false);
                    window.location = '/LongRunningTask/DownloadExcel?fileId=' + uniqueId;
                };
            });
        }

    </script>

}

<div>
    @Html.ActionLink("К карточке проекта", "Details", "Project", null, null, "reportrecordsbyemployee", new { id = Context.Request.Query["projectid"] }, null)
</div>


