
@using MainApp.HtmlControls
@using Core.Models.RBAC

@model IEnumerable<Core.Models.Organisation>

@{
    ViewBag.Title = "Список организаций";
}

<h4>Список организаций</h4>

<p>
    @Html.ActionLinkWithPermission("Создать", "Create", Operation.OrganizationCreateUpdate)
</p>
<table class="table table-bordered table-hover">
    <tr class="active">
        <th>
            @Html.DisplayNameFor(model => model.ShortName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ShortName)
            </td>
            <td>
                @Html.RPCSDisplayTitleViewActionWithPermissionFor(modelItem => item.Title, "Просмотреть", "Details", new { id = item.ID }, Operation.OrganizationView)
            </td>
            <td>
                <center>
                    @Html.IconActionWithPermission("Редактировать", "Edit", new { id = item.ID }, Operation.OrganizationCreateUpdate, "glyphicon-edit")
                    &nbsp;&nbsp;
                    @Html.IconActionWithPermission("Удалить", "Delete", new { id = item.ID }, Operation.OrganizationDelete, "glyphicon-trash")
                </center>
            </td>
        </tr>
    }

</table>
